h1{
    color: blue;
    background-color:aqua;
    text-decoration: dotted;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0ch;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-display:auto;
    
}
